.navbar {
    background-color: #393e46;
}

#cart-card {
    width: 600px;
}

#details-card {
    width: 300px;
}

td {
    width: 30px;
    font-size: small;
}

img {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}

.card-header {
    background-color: white;
}

.icon {
    color: #00adb5;
}

.icon:hover {
    color: #23c4cc;
}
