#nav-list {
    font-size: medium;
}

.btn {
    background-color: #00adb5;
    border-color: #00adb5;
    color: white;
}

.btn:hover {
    color: white;
    background-color: #23c4cc;
    border-color: #23c4cc;
}

.cart-icon {
    color: rgb(223, 217, 217);
}

.cart-icon:hover {
    color: white
}

.card-footer {
    background-color: white;
}

h5 {
    font-size: medium;
}

p {
    font-size: small;
}

footer {
    background-color: #393e46;
    color:white;
}

