img {
    width: 100%;
    height: 23vw;
    object-fit: cover;
}

::-webkit-input-placeholder {
   font-size: 25px;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 25px;
}

::-moz-placeholder {  /* Firefox 19+ */
      font-size: 25px;
}

/*!* Overriding styles *!*/

/*::-webkit-input-placeholder {*/
/*   font-size: 13px!important;*/
/*}*/

/*:-moz-placeholder { !* Firefox 18- *!*/
/*      font-size: 13px!important;*/
/*}*/
/*::-moz-placeholder {  !* Firefox 19+ *!*/
/*      font-size: 13px!important;*/
/*}*/